* { box-sizing: border-box; }

body {
  padding: 8px;
  width: 300px;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

#builds {
  display: none;
  margin-top: 20px;
  padding: 0;
}
#content fieldset {
  padding: 0;
}

button {
  font-size: 100%;
  padding: 8px 12px;
  background-color: #0078e7;
  color: #fff;
  border: 0;
  border-radius: 2px;
}

a { text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }
a:visited { color: inherit; }


/* Header */

header {
  width: 100%;
  padding: 10px 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 20px;
}
header a {
  color: #aaa;
  text-decoration: none;
}
header a:focus, header a:hover {
  outline: none;
  text-decoration: underline;
}
header .image-container {
  display: inline-flex;
  align-items: center;
}


/* Individual builds */

article {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  margin-top: 5px;
}
article.passed {
  background-color: rgba(0, 255, 0, 0.1);
  border-color: rgb(0, 190, 0);
}
article.failed {
  background-color: rgba(255, 0, 0, 0.1);
  border-color: rgb(190, 0, 0);
}
article * {
  margin: 0;
}
article h2 {
  font-weight: normal;
}


/* Form */

#content fieldset > legend {
  font-weight: bold;
  font-size: 14px;
  padding: 0;
}
.formElement {
  margin: 8px 0 14px 0;
}
.formElement > * {
  width: 100%;
}
.formActions {
  display: inline-flex;
  align-items: baseline;
}
.formActions > * {
  margin: 0 5px;
}


/* Loading bar */
/* Ref: https://codepen.io/brunjo/pen/azdWjY */

.loading-bar {
  display: none;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-image:
    repeating-linear-gradient(
      -45deg,
      #a4d426,
      #a4d426 11px,
      #eee 10px,
      #eee 20px /* determines size */
    );
  background-size: 28px 28px;
  animation: move .2s linear infinite;
}

@keyframes move {
  0% { background-position: 0 0; }
  100% { background-position: 28px 0; }
}
